<% if @Airwaybill.blank? %>
  <center>
    <%= render 'forms/form' %>
  </center>
<% else %>
<center>
    <%= render 'forms/form' %>
</center>
  <br>
  <br>
<p>

    <a href="http://www.bluedart.com/servlet/RoutingServlet?handler=tnt&action=awbquery&awb=awb&numbers=<%= @Airwaybill %>" class= "glyphicon glyphicon-send btn btn-danger"> Click here if you don't see anything below :)
    </a>
  </center>
</p>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="http://www.bluedart.com/servlet/RoutingServlet?handler=tnt&action=awbquery&awb=awb&numbers=<%= @Airwaybill %>" frameborder="0" allowfullscreen></iframe>
</div>
<% end %>
